.rgbcode-authform-message {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	border-radius: 4px;

	&__txt {
		padding-inline: 10px;
	}
}
