.rgbcode-authform-flag-input {
	font: 400 14px/21px $basefont;
	align-self: baseline;
	border-radius: 4px;
	border: 1px solid #c9cbcd;
	padding-inline: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}