.rgbcode-authform-signup {
	max-width: 470px;
	padding-inline: 32px;
	padding-top: 32px;
	padding-bottom: 20px;
	border-radius: 4px;
	background-color: #fff;

	&__title,
	&__subtitle {
		text-align: center;
		color: #051225;
	}

	&__title {
		font: 300 30px/34px $basefont;
		padding-inline: 25px;
	}

	&__subtitle {
		font: 300 19px/34px $basefont;
	}

	&__inputs {
		margin-top: 30px;

		display: grid;
		grid-row-gap: 18px;
		grid-template-columns: 65px 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: repeat(4, minmax(43px, auto));
		grid-column-gap: 10px;
		grid-template-areas:
			"name name name name name name"
			"email email email email email email"
			"country phone phone phone phone phone"
			"pass pass pass . . .";

		.rgbcode-authform-input_user {
			grid-area: name;
		}

		.rgbcode-authform-flag-input {
			grid-area: country;
		}

		.rgbcode-authform-input_email {
			grid-area: email;
		}

		.rgbcode-authform-input_phone {
			grid-area: phone;
		}

		.rgbcode-authform-input_pass {
			grid-area: pass;
		}
	}

	&__link {
		margin-top: 1.5em;
		display: block;
		font: 400 14px $basefont;
		text-align: center;
	}

	a {
		color: #0063ff;

		&:hover {
			text-decoration: underline;
		}
	}
}
