.rgbcode-authform-button {
	width: 100%;
	padding-top: 0.85em;
	padding-bottom: 0.85em;

	font: 400 18px $basefont;

	color: #fff;
	background-color: $accent;
	border-radius: 0;
	border-color: transparent;

	white-space: nowrap;
	transition: all .3s ease;

	&:hover,
	&:focus {
		background-color: darken($accent, 15%);
		outline: none;
	}

	&:disabled {
		cursor: not-allowed;
		background-color: #c9cbcd;
	}
}