.rgbcode-authform-input {
	position: relative;
	width: 100%;

	&.valid input {
		border-bottom-color: #0ea97b;
	}

	&.invalid input {
		border-bottom-color: #d44242;
	}

	&::after {
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);

		font-family: rgbcicons, sans-serif;
		font-size: 26px;
	}

	&_user {

		&::after {
			content: '\e903';
		}
	}

	&_email {

		&::after {
			content: '\e902';
		}
	}

	&_phone {

		&::after {
			content: '\e004';
		}
	}

	&_key {

		&::after {
			content: '\e02c';
		}
	}

	input {
		font: 400 14px/21px $basefont;
		border-radius: 4px;
		border-color: #C9CBCD;
		padding-inline: 16px 45px;
		padding-top: 10px;
		padding-bottom: 10px;
		box-shadow: 0 3px 3px 0 rgba( #000, 0.05);
	}

}