.rgbcode-authform-select {
	width: 100%;

	&.rgbcode-active .rgbcode-authform-select__country-menu-list {
		display: block;
	}

	&__label {
		color: #051225;
		font: 14px roboto,sans-serif;
	}

	&__select {
		display: none;
	}

	&__country-menu {
		position: relative;

		@media screen and (max-width: 1023px) {
			max-width: none;
		}
	}

	&__country-menu-current {
		position: relative;

		width: 100%;

		padding-inline: 16px;
		padding-top: 10px;
		padding-bottom: 10px;

		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;

		font: 400 14px/21px roboto,sans-serif;
		border-radius: 4px;
		border: 1px solid #c9cbcd;
		border-bottom-color: #0ea97b;
		box-shadow: 0 3px 3px 0 rgba(0,0,0,.05);
		cursor: pointer;
		outline: none;

		@include media_max( map-get( $breaks, mobile ) ) {
			padding-top: 8px;
			padding-bottom: 8px;
		}

		&::after {
			content: "";
			display: block;
			box-sizing: border-box;
			position: absolute;
			width: 7px;
			height: 7px;
			border-bottom: 2px solid;
			border-right: 2px solid;
			transform: rotate(45deg);
			right: 6px;
			top: 14px;
		}
	}

	&__country-menu-list {
		position: absolute;
		background: #FFF;
		left: 0;
		right: 0;
		z-index: 2;
		max-height: 305px;
		overflow-y: auto;
		box-shadow: 0 3px 3px 0 rgba(0,0,0,.05);
		display: none;

		.select-list__list {
			list-style-type: none;
			padding: 5px 0;
		}

		.select-list__item {
			padding: 6px 12px;
			cursor: pointer;
			font-weight: 400;
			transition: background 0.25s, color 0.25s;
			&:hover {
				background: rgba(37, 141, 246, 0.2);
			}
			&.select-list__item_active {
				background: #0072ff;
				color: #FFF;
			}
		}
	}

	&__search[type=search] {
		width: 95%;
		margin: .5em 0 .5em .5em;

		@include media_max( map-get( $breaks, mobile ) ) {
			width: 90%;
		}
	}
}
