[dir="rtl"] {

	.rgbcode-authform-close,
	.rgbcode-authform-input__label::after {
		right: initial;
		left: 10px;
	}

	.rgbcode-authform-pass-toggle {
		right: initial;
		left: 5px;
	}

	.rgbcode-authform-checkbox {
		padding-right: 1.7em;
		padding-left: initial;

		&__box {
			margin-top: 0;
			margin-right: -1.4em;
			margin-left: initial;
		}
	}

	.rgbcode-authform-select__country-menu-current {
		padding-inline: 20px;
	}

	.rgbcode-authform-suggestions {
		left: initial;
		right: 0;
	}

	.rgbcode-authform-input select {
		padding-inline: 23px;
	}

}
