.form_sub_title{
  text-align: center;
  p{
    font-size: 19px;
    margin: 0 0 10px;
  }
}

.form_title{
  text-align: center;
  h4{
    margin: 0;
    top: 0;
    min-height: 34px;
    line-height: 34px;
    font-size: 30px;
    padding: 0 25px;
  }
}

.row_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row-col-50{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}
.row-col-100{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 100%;
  max-width: 100%;
}

.row-col-30{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  max-width: 33%;
}

.row-col-70{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
}

.terms-agree-wrap{
  label{
    font-size: 12px;
    line-height: 18px;
  }
}

.desc-wrap{
  p{
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
  }
}

.button-wrap{
  button{
    width: 100%;
    border: 1px solid transparent;
    margin: 0;
    padding: 0;
    height: 54px;
    font-size: 14px;
    background: #009aea;
    color: #fff;
    box-shadow: var(--forms-shadowButton);
    border-radius: var(--variable-component-common-borderRadiusActiveButton);
    outline: 0;
    white-space: nowrap;
    font-family: Roboto,sans-serif;
  }
}

.have-acc-wrap{
  text-align: center;
  a{
    margin-top: 20px;
    color: #009aea;
    font-size: 14px;
    line-height: 17px;
  }
}

.check1, .check2, .check3{
  width: 96%;
  border: 1px solid gray;
  height: 12px;
  margin: auto;
}

.messageWrap{
  .messageText {
    font-size: 12px;
    margin: 11px 5px;
  }
}

.pass-checker-wrap{
  margin-top: 20px;
}

.form_fields_wrap{
  input, select{
    width: 100%;
    background-color: #00000000;
    outline: 0;
    font-size: 12px;
    padding: 3px 7px;
    box-shadow: none;
    transition: all .3s;
    -ms-appearance: none;
    -webkit-appearance: none!important;
    -moz-appearance: none!important;
    appearance: none!important;
    border: 1px solid #C9CBCD;
    border-radius: 3px;
    box-sizing: border-box;
    box-shadow: 0 3px 3px 0 #0000000d;
    padding: 10px 45px 10px 16px;
    margin-bottom: 10px;
  }

  .userIcon{
    background: url('../../../../rgbc-register-plugin/src/img/user.png')no-repeat 100%;
    background-size: 34px;
  }

  .mailIcon{
    background: url('../../../../rgbc-register-plugin/src/img/mail.png')no-repeat 100%;
    background-size: 34px;
  }

  .phoneIcon{
    background: url('../../../../rgbc-register-plugin/src/img/phone.png')no-repeat 100%;
    background-size: 34px;
  }
  .passIcon{
    background: url('../../../../rgbc-register-plugin/src/img/key.png')no-repeat 100%;
    background-size: 34px;
  }

  .w-96{
    width: 96% !important;
    input, select{
      width: 96% !important;
    }
  }
}